<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/Content/Clients/dist/img/vct.jpeg.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">Văn Công Tuấn</a>
        </div>
    </div>t

   
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
           
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Danh mục

                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Tin Tức

                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Bài Viết

                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                        Quản lý máy bay
                        <i class="fas fa-angle-left right"></i>

                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/TaiKhoans" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tài Khoản</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/HanhKhaches" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Hành Khách</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/TuyenBays" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tuyến Bay</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/ChuyenBays" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Chuyến bay</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/MayBays" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Máy Bay</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/LichBays" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Lịch bay </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Gias" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Giá Vé</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/LichBayGiaVes" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Lịch bay giá vé</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/HangVes" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Hạng Vé</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="/ThongKe" class="nav-link">
                    <i class="nav-icon fas fa-chart-pie"></i>
                    <p>
                        Thống kê
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/ThongKe" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Thống kê chuyến bay và doanh thu</p>
                        </a>
                    </li>
                   
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Thống kê vé</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Thống kê hóa đơn</p>
                        </a>
                    </li>
                </ul>
            </li>           
            <li class="nav-item">
                <a href="/Home" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Đăng xuất
                    </p>
                </a>
            </li>
           
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
